@media screen and (max-width: 576px) {
    /* header section starts */
    .nav-container {
        flex-direction: column;
        gap: 60px;
    }
    #nav {
        box-shadow: none;
    }
    .nav-container   ul {
        display: flex;
        list-style: none;
        align-items: center;
        gap: 36px;
        flex-direction: column;
    }
    /* header section ends */
    
}