/* mobile devices----------------------------- */
@media screen and (max-width: 576px) {
  /* root */
  * {
    font-size: 11px;
  }
  /* root */
  /* body styles */
  .max-width {
    padding: 0 20px;
  }
 
  /* header section starts */
  header {
    padding: 0 20px;
  }
  .nav-container {
    flex-direction: column;
    gap: 60px;
  }
  #nav {
    box-shadow: none;
  }
  .nav-container ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 36px;
    flex-direction: column;
  }
  /* header section ends */

  /* banner section starts */
  .banner-section {
    background-position: bottom left;
    background-size: contain;
  }
  .banner-section-container {
    flex-direction: column-reverse;
    gap: 24px;
  }
  .banner-img {
    margin-bottom: 50px;
  }
  /* banner section ends */
  /* online games starts */
  
  .online-games-card .games-card {
    flex-basis: 100%;
    margin-bottom: 31px;
  }
  .online-games-card .games-card p {
    text-align: center;
}
  /* online games ends */
  /* play instanly starts */
  .play-instantly {
    flex-direction: column;
}
.play-instantly .section-title {
    text-align: center;
    flex-basis: 100%;
    margin: auto;
    margin-bottom: 4.6rem;
}
.play-instantly-img {
  flex-basis: 100%;
  margin: auto;
}
.play-instantly-img .image-badge {
  top: 180px;
  right: 230px;
}
  /* play instanly ends */

  /* catetory starts  */
  .category {
    padding: 60px 0;
  }
  .cetegory-buttons {
    gap: 5px;
}
.btn-category img {
  width: 30%;
}
.btn-category {
  flex-basis: 32%;
  font-size: .8rem;
  margin-bottom: 2rem;
}
  /* catetory ends */
}

/* tablet devices -------------------------------------------------- */

@media screen and (min-width: 576px) and (max-width: 920px) {
  /* root */
  /* root */

  /* body styles */
  body {
    margin: 0 20px;
  }
  /* body styles */
  /* header section starts */
  .nav-container {
    flex-direction: column;
    gap: 60px;
  }
  #nav {
    box-shadow: none;
  }
  .nav-container ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 36px;
    flex-direction: column;
  }
  /* header section ends */
  /* banner section starts */
  .banner-section {
    background-position: bottom left;
    background-size: contain;
    width: 100%;
  }
  .banner-section-container {
    flex-direction: column-reverse;
    gap: 24px;
  }
  .banner-img {
    margin-bottom: 50px;
  }
  /* banner section ends */
  /* online games starts */
  .online-games-card .games-card {
    flex-basis: 49%;
    margin-bottom: 32px;
  }
  /* online games ends */

  /* play instanly starts */
  .play-instantly {
    flex-direction: column;
}
.play-instantly-img .image-badge {
  right: 373px;
  top: 292px;
}
.play-instantly-img {
  margin: auto;
}
.play-instantly .section-title {
  margin: auto;
  margin-bottom: 24px;
}
  /* play instanly ends */
    /* catetory starts  */
    .cetegory-buttons {
      gap: 5px;
  }
  .btn-category img {
    width: 30%;
  }
  .btn-category {
    flex-basis: 32%;
    font-size: .8rem;
    margin-bottom: 2rem;
  }
    /* catetory ends */
}
