/* google fonts starts*/
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap");
/* google fonts ends */

/* root starts*/
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
}
/* root ends */

/* Shared styles */
.section-title h2 {
  font-size: 3rem;
  font-weight: 700;
}
.section-title p {
  line-height: 1.8rem;
}
.color-pink {
  background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1em;
}
.color-blue {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1em;
}
.max-width {
  max-width: 1440px;
  margin: auto;
}
h2 {
  color: #0b0223;
}
p,
li {
  color: #534c64;
  font-size: 1.1rem;
}
.btn-pink {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  background-color: #ff42a5;
  border: 0;
  padding: 21px 40px;
  border-radius: 48px;
}
.btn-skybule {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  background-color: #4ec5f7;
  border: 0;
  padding: 21px 40px;
  border-radius: 48px;
}
/* shared styles end */

/* header styles starts */

/* nav section starts */
#nav {
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 0;
}
.nav-container .logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-container .logo h2 {
  font-size: 2.8rem;
  font-weight: 700;
}
.nav-container ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 32px;
}
.nav-container ul li a {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  color: #3c354f;
}
.menu-social-icons {
  border-radius: 8px;
  display: flex;
  gap: 24px;
  align-items: center;
  background: rgba(11, 2, 35, 0.1);
  padding: 17px 24px;
}
/* nav section ends */

/* banner section starts */
.banner-section {
  background: url(../images/Group\ 14.png);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
}
.banner-section-container {
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-section-container .banner-img,
.banner-content {
  flex-basis: 50%;
}
.banner-img {
  width: 100%;
}
.banner-content h2 {
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-content h1 {
  font-size: 5.9rem;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;
}
.banner-content ul {
  list-style: none;
}
.banner-content ul li {
  font-weight: 500;
  margin-bottom: 17px;
}
.banner-content div {
  display: flex;
  margin-top: 41px;
  gap: 24px;
}

/* banner section ends */

/* header styles ends */

/* online games section */
.online-games {
  margin: 120px auto;
  text-align: center;
}
.online-games h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.online-games .section-title p {
  margin-bottom: 3rem;
}
.watch-now i {
  font-size: 55px;
  
}
.watch-now h3 {
  margin-bottom: 50px;
  margin-top: 1rem;
}
.games-card .watch-now {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.games-card:hover img{
  filter: brightness(0.3) blur(1px);
  cursor: pointer;
}
.games-card:hover .watch-now {
  visibility: visible;
}

.online-games-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.online-games-card .games-card {
  flex-basis: 24%;
  position: relative;
}
.online-games-card .games-card p {
  text-align: left;
}
.online-games-card .games-card img {
  margin-bottom: 24px;
}
/* online games ends */

/* play-instantly starts */
.play-instantly {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}

.play-instantly .section-title {
  text-align: right;
  max-width: 341px;
  flex-basis: 49%;
  margin-left: auto;
}
.play-instantly-img {
  flex-basis: 49%;
  text-align: right;
  margin-left: auto;
  position: relative;
}
.play-instantly .section-title h2 {
  line-height: 3.75rem;
  margin-bottom: 24px;
}
.play-instantly-img img {
  width: 80%;
}
.play-instantly-img .image-badge {
  width: 40%;
  position: absolute;
  right: 412px;
  top: 324px;
}
/* play-instantly ends */

/* games category buttons */
.category {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  padding: 120px 0;
}
.cetegory-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 27px;
}
.btn-category {
  flex-basis: 17%;
  display: flex;
  border: 0;
  gap: 1rem;
  padding: 10px;
  border-radius: 50px;
  color: #0b0223;
  background-color: #fff;
  font-size: 1.25rem;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
  border-width: 0px;
  transition: border-width 0.6s linear;
  transition: all 0.5s;
  border: 1px solid #fff;
}
.btn-category:hover {
  color: #ff42a5;
  border: 1px solid #ff42a5;
}
/* games category buttons ends */

/* footer starts */
footer {
  background-color: #0b0223;
  text-align: center;
  padding: 120px 0px;
}
.footer-menu .logo {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-bottom: 4rem;
}
.footer-menu .logo h2 {
  font-size: 2.8rem;
  color: #fff;
}
.footer-menu > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 3.7rem;
  flex-wrap: wrap;
  flex-direction: row;
}
.footer-menu > ul a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
}
.footer-social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  flex-wrap: wrap;
}
.terms-container ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3.7rem;
}

.terms-container a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}
.footer-container p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1.8rem;
}
/* footer ends */
